In [72]:
import pandas as pd
aller = pd.DataFrame({'key': ['1', '1', '1', 'K3', '1', 'K5'], 'A': ['pased', 'failed', 'passed', 'A3', 'A4', 'A5']})
res = aller[aller.key == '1']
res.key[0]

'1'

In [62]:
g = aller.groupby('key')
g.head()
#g.aggregate({'A': lambda x: x})

        A key
0   pased   1
1  failed   1
2  passed   1
3      A3  K3
4      A4   1
5      A5  K5

In [52]:
res = aller[4:5].key # rows via index; columns via attributes
res.item()

'K4'

In [46]:
indexed_aller = aller.set_index('key')
indexed_aller[1:5].A
indexed_aller.__class__

Index(['A'], dtype='object')

In [36]:
other = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'B': ['B0', 'B1', 'B2']})
other

    B key
0  B0  K0
1  B1  K1
2  B2  K2

In [41]:
joined = aller.join(other.set_index('key'), on='key', lsuffix='org_', rsuffix='org_')
joined

    A key    B
0  A0  K0   B0
1  A1  K1   B1
2  A2  K2   B2
3  A3  K3  NaN
4  A4  K4  NaN
5  A5  K5  NaN